@tailwind base;
@tailwind components;
@tailwind utilities;

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 800px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 2000ms;
}

.slide {
  display: inline-block;
  height: 500px;
  width: 100%;
  border-radius: 40px;
}

.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}
.slideshowDot.active {
  background-color: #858484;
}

#loading::after{
  content: '';
  height: 8px;
  width: 200px;
  background-color: #ffa200; 
  position: absolute; 
  left: 0;
  border-radius: 16px;
  
}

#payment{
  animation-name: flow;
  animation-direction: reverse;
  animation-duration: 10s;
  animation: ease-in;
}
#payment::before{
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  top: 15px;
  left: 15px;
}

.outter1{
    background-image: conic-gradient(from 60deg, transparent 90deg, green );
}
.outter{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  /* background-image: conic-gradient(from 60deg, transparent 90deg, green ); */
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.25),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.637);
  padding: 25px;
  
}

.inner{
  height: 90px;
  width: 90px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#checkbox[type="checkbox"] {
  appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1rem;
  border: 0.25rem solid rgba(231, 231, 231, 0.925);
  border-radius: 0.2rem;
}

#checkbox[type="checkbox"]::before {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  transform: scale(1);
  background-color: #fff;
}

#checkbox[type="checkbox"]:checked::before {
  transform: scale(0);
}

select {
  appearance: none;
  outline: 0;
  background: #fff;
  width: 60%;
  height: 100%;
  color: black;
  cursor: pointer;
  border: 1px solid rgb(226, 223, 223);
  
}

.notification{
  width: 400px;
  padding: 20px;
  border-left: 5px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  border-radius: 16px;
  position: absolute;
  right: 0;
  top: 100px;
}